@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    font-size: 13px;
    font-family: 'Barlow Semi Condensed'
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: var(--light-grayish-blue)
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 2.5em;
    padding: 5em 0;
}

article {
    display: flex;
    flex-direction: column;
    padding: 3em;
    gap: 1.5em;
    border-radius: 10px;
}

.purple-quote-background {
    background-color: var(--moderate-violet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 10em;
}

.gray-background {
    background-color: var(--very-dark-grayish-blue)
}

.dark-blue-background {
    background-color: var(--very-dark-blackish-blue);
}

.white-background {
    background-color: white;
}

figure {
    margin: 0;
    display: flex;
}

img {
    width: 4em;
    height: 4em;
    margin-right: 2em;
    border-radius: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 1.35em;
    font-weight: 600
}

.title {
    font-size: 1.15em;
    opacity: 0.5;
}

h1 {
    font-size: 1.9em;
    font-weight: 600;
}

.testimonial-text {
    opacity: 0.7;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}

h1, p {
    margin: 0;
    padding: 0;
    z-index: 2;
}

.white-text {
    color: white;
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-rows: repeat(2, 220px);
        grid-template-columns: repeat(4, 200px);
        grid-template-areas:
            "daniel daniel jonathan kira"
            "jeanette patrick patrick kira";
        /* padding: 4em;
        box-sizing: border-box; */
        gap: 40px;
    }

    img {
        width: 3em;
        height: 3em;
    }

    article {
        width: 100%;
        height: 100%;
        padding: 1em;
    }

    #daniel-testimonial {
        grid-area: daniel
    }

    #jonathan-testimonial {
        grid-area: jonathan
    }

    #jeanette-testimonial {
        grid-area: jeanette
    }

    #patrick-testimonial {
        grid-area: patrick
    }

    #kira-testimonial {
        grid-area: kira
    }

    h1 {
        font-size: 1.6em;
    }

    p {
        font-size: 0.8em;
    }

    .description p {
        font-size: 1em;
    }
}